* {
    background-color: blanchedalmond;
    text-align: center;
}
header {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 10px;
}
header { 
    margin: auto;
}
main {
    padding-top: 40px;
}
.link {
        
        padding: 20px;
        border-radius: 10px;
        color: rgb(0, 1, 2);
        text-decoration: none;

        border: 2px solid black


    }
    .link:hover{
        background-color: rgb(75, 18, 18);
        color: aliceblue;
    }
    #btn{

        margin-top: 50px;
    }





























































































